* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Arial, sans-serif;
}

.main-text, .footer, .header {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 300px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.logo a {
    margin: 15px;
}

.logo p {
    font-size: 24px;
    font-weight: 900;
    color: #F9FaF8;
}

.nav-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #E5E7EB;
    display: inline-flex;
    align-items: center;
    font-size: 18px;
}

.main-text h1 {
    font-size: 48px;
    color: #F9FaF8;
    font-weight: 900px;
}

.main-text {
    font-size: 18px;
    color: #E5E7EB;
    padding: 150px 300px;
}

button {
    background-color: #3882F6;
    color: #F9FaF8;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 40px;
    margin-top: 10px;
    font-weight: 900;
    font-size: 20px;
    border: none;
}

button:hover {
    background-color:#E5E7EB;
    color: #3882F6;
}

.secondary-text-with-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 300px;
}

.secondary-text-with-images h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.list-of-images-and-text ul {
   display: flex;
   justify-content: space-between;
   list-style: none;
   padding: 0;
   margin: 0px 100px;
}

.list-of-images-and-text li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
}

.list-of-images-and-text div {
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: 2px solid blue;
    border-radius: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.quote-box {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 500px;
}

.quote-name {
    font-weight: 900;
    font-size: 20px;
    padding: 20px;
    text-align:right;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.sign-up-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
    padding: 40px 50px;
    background-color: #3882F6;
    border-radius: 10px;
}

.sign-up-box p {
    font-size: 24px;
    font-weight: 900;
    color: #F9FaF8;
    text-align: left;
    margin-right: 200px;
}

.sign-up-box button {
    border: 2px solid #F9FaF8;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-top: auto;
    color: #F9FaF8;
}
