* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Arial, sans-serif;
    background-color: #F9FAF8;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 12vw;
}

footer {
    padding: 20px 12vw;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 12vw;
    gap: 20px;
}

.main-text-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50%;
    gap: 20px;
}

.main-image-section img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.information-header-text {
    font-weight: bold;
    padding: 25px;
    text-align: center;
}

.image-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 50px 14vw 150px;
    flex-wrap: wrap;
    gap: 20px;
}

.image-item {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    max-width: 300px;
    flex-basis: 25%;
}

.image-item img {
    float: left;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    border: 5px solid #3882F6;
    
}

.image-item figcaption {
    margin: auto 50px;
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    color: #1f2937;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
}

.quote-container {
    display: flex;
    flex-direction: column;
    padding: 150px 28vw;

}

.quote-name {
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    align-self: flex-end;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    gap: 10px;
}

.dark-background-color {
    background-color: #1f2937;
}

.white-text {
    color: #F9FAF8
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
}

.header-logo-text {
    font-size: 24px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.bright-color {
    background-color: #3882F6;
}

.dark-text {
    font-size: 36px;
    color: #1f2937;
}

.quote-text {
    font-style: italic;
}

.quote-section-color {
    background-color: #e5e7eb;
}

.sign-up-container {
    display: flex;
    margin: 100px 22vw;
    padding: 2vw;
    border-radius: 10px;
    justify-content: space-between;
}

.sign-up-text {
    flex-direction: column;
    margin-left: 50px;
}

.sign-up-header {
    font-size: 24px;
    font-weight: bold;
}

.sign-up-container button {
    margin-right: 50px;
    border: #E5E7EB solid 2px;
}

button {
    background-color: #3882F6;
    color: #F9FaF8;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 40px;
    margin-top: 10px;
    font-weight: 900;
    font-size: 20px;
    border: none;
}

button:hover {
    background-color:#E5E7EB;
    color: #3882F6;
}
